
/*いままで作ったもの*/
.updateDateMade {
    color: gray;
    margin-left: 20px;
    margin-top: -40px;
}

/* ギャラリー */
.imgCardArea {
    padding-left: 20px;
}
.imgCardArea:after {
	content: "";
	clear: both;
    display: block;
}
@media(max-width: 768px) {
	.imgCardArea{
		float: none;
	}
}
.imgCard {
	width: 400px;
    height: auto;
    margin: 5px;
	border-radius: 10px;
    float: left;
    margin-bottom: 20px;
}
.imgData {
	width: 400px;
	height: auto;
	border-radius: 10px;
	float: left;
}

p {
    line-height: 1.5;
}

/*画面幅580px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:580px){
    .imgCard {
        width: 300px;
        height: auto;
    }
    .imgData {
        width: 300px;
        height: auto;
    }
}