p {
    line-height: 1.5;
}

/*いままで読んだもの*/
.updateDateRead {
    color: gray;
    margin-left: 20px;
    margin-top: -40px;
}

/*画面幅580px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:580px){
    .imgCard {
        width: 300px;
        height: auto;
    }
    .imgData {
        width: 300px;
        height: auto;
    }
}